body{
    margin-left: 50px;
    margin-top: 50px;
    background-image: url(teamwork%20login%20image.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: 100% 140px;
}

h1{
    font-family: Verdana;
    font-size: 40px;

}
.BProfile{
  border-bottom: 5px solid red;
    
}



header{
    font-family: Verdena;
    color:aliceblue; 
    width:100%;
    background-color: dodgerblue;
    margin-left: -50px;
    margin-top: -50px;
    padding: 5px 50px;
    color: darkblue;
    font-size: 20px;
}

p1{
    font-size: 14px;
    font-family: Verdana;
    color: rgb(10, 10, 10);
}

.Name{
    font-size: 25px;
    font-family: Verdana;
    color: rgb(10, 10, 10);
    text-align: center;
}

input[type = text]{
    width: 17.5%;
    padding: 3px 5px;
    margin: 2px 2;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 4px;
}

.PersonalInfo{
  order: 5px outset red;
  background-color:none;    
  text-align: left;
}

a:link {

   background-color: transparent;
   text-decoration: none;
}

footer{
   font-family: Verdana;
   color:aliceblue; 
   width:100%;
   background-color: darkblue;
   margin-left: -50px;
   margin-bottom: -50px;
   margin-top: 150px;
   padding: 20px 50px;
}

.Experiences {
  
  text-align: right;
  border-radius: 10px;
  display: Experiences;
  width: 50%;
  height: 25px;
  padding: 100px;
  border: 1px solid blue;    
  border-radius: 0px;

 

}


  
  span.b {
    display: Experiences;
    width: 50%;
    height: 25px;
    padding: 0px;
    border: 1px solid blue;    
    border-radius: 0px;

   
 
    margin: 6px 20;
   
    
    




  }
  
