
 body{
     margin-left: 50px;
     margin-top: 50px;
     background-image: url(teamwork%20login%20image.jpg);
     background-size: 450px;
     background-repeat: no-repeat;
     background-position: 100% 140px;
 }

 h1{
     font-family: Verdana;
     font-size: 40px;
 }

ul {
    list-style-type: none;
    margin-left: -50px;
    margin-top: -50px;
    padding: 0;
    width:100%;
    background-color: dodgerblue;
    position: fixed;
}

li{
    display: inline;
}

li a{
    color:aliceblue;
    display: block;
    padding: 20px 15px;
    font-family: Verdana;
    float:right;
}

.name {
    color:aliceblue;
    display: block;
    padding: 17px 50px;
    font-family: Verdana;
    font-size: 20px;
    float:left;
}

 p1{
     font-size: 20px;
     font-family: Verdana;
     color: gray;
 }

 input[type = email]{
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 2px solid lightgrey;
     border-radius: 4px;
 }

 input[type = password]{
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 2px solid lightgrey;
     border-radius: 4px;
 }

 label[for = rememberme]{
     font-family: Verdana;
     font-size: 13px;
     color:#2E2E2E;
 }

 input[type = submit]{
     width: 150px;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 2px solid;
     border-color: lightblue;
     border-radius: 4px;
     background-color: paleturquoise;
     align-items: center;
 }

a:link {

    background-color: transparent;
    text-decoration: none;
}

footer{
    font-family: Verdana;
    color:aliceblue; 
    width:100%;
    background-color: darkblue;
    margin-left: -50px;
    margin-bottom: -50px;
    margin-top: 150px;
    padding: 20px 50px;
}
