<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/css/jobDashboardCSS.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/e4ad6adbad.js" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="../static/javascript/editProfile.js" defer></script>
  
  <style>
    .custom {
      width: 40%;
    }
  </style>



</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top" style="background-color:#1E90FF;">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="../indexCandidate.html"><b><i>I</i>mplico</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-1">
                    <a class="nav-link active text-light" href="../indexCandidate.html"><i class="fa-solid fa-house" style="color: #ffffff;"></i> Home</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-light" href="../viewJobPosting.html"><i class="fa-solid fa-briefcase" style="color: #ffffff;"></i> Jobs</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-light" href="../notification.html"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> Notifications</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-light" href="../profileTempHTML.html"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> Profile</a>
                </li>
                <li class="nav-item mx-1">
                    <form method="POST">
                        <button type="submit" name="logout" class="nav-link text-light btn btn-link">
                            <i class="fa-solid fa-user" style="color: #ffffff;"></i> Log Out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <div class="container-fluid">
    <!--actual page-->
    <div class="row">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="col-8 ps-4 pt-4 pb-4 pe-4 bg-light rounded">
          <div class="row px-4 py-4 text-center rounded">
            <h1>Edit Profile</h1>
          </div>
          <div class="row px-4 py-2">
          
            <form method="POST" enctype="multipart/form-data">
              <h2 class="text-center">About You</h2>

              <div class="container p-3 my-3 bg-white text-black border rounded text-left">
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input type="text" class="form-control" id="firstName" name="FirstName" placeholder="First Name"
                    value="{{firstName}}">
                </div>
          
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Last Name"
                    value="{{lastName}}">
                </div>
          
                <div class="form-group">
                  <label for="bio">Bio:</label>
                  <textarea class="form-control" id="bio" name="Bio" rows="3" placeholder="Write here">{{userBio}}</textarea>
                </div>
          
                <div class="form-group">
                  <label for="location">Location:</label>
                  <input type="text" class="form-control" id="location" name="Location" placeholder="Write here"
                    value="{{location}}">
                </div>
          
                <div class="form-group">
                  <label for="contactInfo">Contact Info:</label>
                  <input type="text" class="form-control" id="contactInfo" name="ContactInfo" placeholder="Write here"
                    value="{{contact}}">
                </div>
          
                <div class="form-group">
                  <label for="contactInfo">Portfolio Link:</label>
                  <input type="text" class="form-control" id="portfolio" name="PortfolioLink" placeholder="Write here"
                    value="{{portfolio}}">
                </div>

                <div class="form-group mt-2">
                  <label for="resume">Upload Resume:</label>
                  <input type="file" id="resume" name="resume" class="form-control-file">
                </div>
              </div>
          
              <br>
          
              <div class="row px-4 py-4 text-center">
                <h2>Education</h2>
              </div>
          
              <div class="container p-3 my-3 bg-white text-black border">
          
                <div class="form-group">
                  <label for="schoolname">School Name:</label>
                  <input type="text" class="form-control" id="schoolname" name="Schoolname" placeholder="Concordia University"
                    value="{{school}}">
                </div>
          
                <div class="form-group">
                  <label for="program">Program:</label>
                  <input type="text" class="form-control" id="program" name="Program" placeholder="Computer Engineering"
                    value="{{program}}">
                </div>
              </div>
          
              <div class="row px-4 py-4 text-left" id="expBlock">
                
                <div class="row px-4 py-4 text-center">
                  <h2>  Experiences </h2>
                </div>
                <div class="row text-center">
                  <button id="addButton" type="button" class="btn text-white bg-dark w-10 text-center " onclick="addExperience()">Add</button>

                </div>
              
  

                {% for exp in workExperience %}
                  <div class="container p-3 my-3 bg-white text-black border" id="exp_{{exp[0]}}">
                    <input type="hidden" name="expID" value="{{exp[0]}}">
                    <div class="form-group">
                      <label for="jobTitle">Job Title:</label>
                      <input type="text" class="form-control" name="JobTitle" placeholder="Cashier"
                        value="{{exp[2]|string}}">
                    </div>

                    <div class="form-group">
                      <label for="employer">Employer:</label>
                      <input type="text" class="form-control" name="Employer" placeholder="Insert employer"
                        value="{{exp[3]|string}}">
                    </div>

                    {% if exp[4] < 10 %} 
                      <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="text" class="form-control" name="StartDate" placeholder="MM/YYYY" pattern="(?:0[1-9]|1[0-2])/[0-9]{4}" value="{{"0"+exp[4]|string+"/"+exp[5]|string}}">
                      </div>
                    {% else %}
                      <div class="form-group">
                        <label for="startDate">Start Date:</label>
                        <input type="text" class="form-control" name="StartDate" placeholder="MM/YYYY" pattern="(?:0[1-9]|1[0-2])/[0-9]{4}" value="{{exp[4]|string+" /"+exp[5]|string}}">
                      </div>
                    {% endif %}

                    {% if exp[6] < 10 %} 
                      <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input type="text" class="form-control" name="endDate" placeholder="MM/YYYY" pattern="^((0[0-9])|(1[0-2]))\/(\d{4})$" value="{{"0"+exp[6]|string+"/"+exp[7]|string}}">
                      </div>
                    {% else %}
                      <div class="form-group">
                        <label for="endDate">End Date:</label>
                        <input type="text" class="form-control" name="endDate" placeholder="MM/YYYY" pattern="^((0[0-9])|(1[0-2]))\/(\d{4})$" value="{{exp[6]|string+" /"+exp[7]|string}}">
                      </div>
                    {% endif %}

                    <div class="form-group">
                      <label for="description">Description:</label>
                      <input type="text" class="form-control" name="Description" placeholder="Write here"
                        value="{{exp[8]|string}}">
                    </div>

                    <div class="form-group">
                      <label for="skills">Skills:</label>
                      <input type="text" class="form-control" name="Skills" placeholder="Autonomy, C#, JavaScript, ..." value="{{exp[9]|string}}">
                    </div>

                    <div class="form-group">
                      <button type="button" class="text-center btn btn-danger m-1" id="del_{{exp[0]}}" onclick="delExperience('exp_{{exp[0]}}')">Delete</button>
                    </div>
                  </div>
                 

                {% endfor %}
                
              </div>
              
              <div class="text-center">
                <button type="submit" class="btn btn-primary custom ">Save</button>
              </div>

            </form>


          </div>

          <br><br>



        </div>




      </div>
      <br><br><br>
    </div>D

</body>

</html>