<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e4ad6adbad.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="position-relative">
    <!--modified nav bar-->
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color:#1E90FF;">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="../home.html"><b><i>I</i>mplico</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="../loginHTML.html"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Login</a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <h1 class="mx-4 mt-4 mb-2 text-center"><i>I</i>mplico</h1>
            <h4 class="mb-4 text-center text-dark text-opacity-25">Bridging the gap between employers and job seekers
            </h4>
        </div>
        <!--job seekers-->
        <div class="row mt-5 mb-5 g-0">
            <div class="card bg-light">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/css/happy people jumping.jpg" class="img-fluid rounded-start" alt="..."
                            style="height: 220px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title mt-3">Job Seekers</h2>
                            <p class="card-text">
                            <ul>
                                <li>Browse Job Opportunities</li>
                                <li>Apply to Jobs At The Click Of A Button</li>
                                <li>Share Your Profile to Employers</li>
                                <li>Get Alerts When You Get Chosen To Interview</li>

                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--employers-->
        <div class="row mt-5 mb-5 g-0">
            <div class="card bg-light">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title mt-3">Employers</h2>
                            <p class="card-text">
                            <ul>
                                <li>Reach Tons of Candidates</li>
                                <li>Upload Job Postings For Many Talented Applicants</li>
                                <li>Set Up Contact With Candidates You Interview</li>
                                <li>Get Alerts When You Get Applicants</li>
                                <li>Increase Employment at Your Company</li>

                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../static/HelpingPeople.jpg" alt="..." class="float-end rounded-end" style="height: 240px;">
                    </div>
                </div>
            </div>
        </div>
        <!--apply now-->
        <div class="row mt-5 mb-5 g-0">
            <div class="card bg-light">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/css/teamwork login image.jpg" class="img-fluid rounded-start" alt="..."
                            style="height: 220px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title mt-3">Interested?</h1>
                            <p class="card-text">Join the platform now!</p>
                            <a class="btn btn-success" href="../signUpHTML.html">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br>
    <footer class="container-fluid bg-primary card-footer p-2 position-absolute bottom-0 start-50 translate-middle-x" style="bottom: 0px;">
        <a href="mailto:implico.web@gmail.com" style="color:aliceblue; text-decoration: none;">Contact Us</a> /
        <a href="../aboutUs.html" style="color:aliceblue; text-decoration: none;">About Us</a> /
        <a href="../submitFeedback.html" style="color:aliceblue; text-decoration: none;">Feedback</a>
    </footer>

</body>

</html>