
 body{
/*    margin-left: 50px;*/
    margin-top: 50px;
/*    background-size: 450px;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 100% 170px;*/
 }

#all{
    position: relative;
    min-height: 100vh;
}

#main{
    padding-bottom:2.5rem;
}

#description{
    width: 70%;
    height: 200px;
}

 h1{
     margin-left: 15px;
     font-family: Verdana;
     font-size: 40px;
 }

ul {
    overflow: hidden;
    list-style-type: none;
    margin-left: -8px;
    margin-top: -50px;
    padding: 0;
    width:100%;
    background-color: dodgerblue;
    position: fixed;
}

li{
    display: inline;
}

li a{
    color:aliceblue;
    display: block;
    padding: 20px 15px;
    font-family: Verdana;
    float:right;
}

.name {
    color:aliceblue;
    display: block;
    padding: 17px 50px;
    font-family: Verdana;
    font-size: 20px;
    float:left;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}

input[type = password], input[type = email], input[type = text]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 4px;
 }

label{
     font-size: 20px;
     font-family: Verdana;
     color: gray;
 }

footer{
    position: absolute;
    font-family: Verdana;
    color:aliceblue; 
    width:100%;
    background-color: darkblue;
    margin-left: -50px;
    margin-bottom: -70px;
    bottom:0;
    padding: 20px 50px;
}

form{
    margin-left: 20px;
}

@media screen and (max-width:600px){
    .navbar a{
        float: none;
        width: 100%;
        padding: 0px;
        text-align: center;
    }
}

