body{
    margin-left: 50px;
    margin-top: 50px;
    background-image: url(teamwork%20login%20image.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: 100% 140px;
}

h1{
    font-family: Verdana;
    font-size: 40px;

}
.BProfile{
  border-bottom: 5px solid red;
    
}



header{
    font-family: Verdena;
    color:aliceblue; 
    width:100%;
    background-color: dodgerblue;
    margin-left: -50px;
    margin-top: -50px;
    padding: 5px 50px;
    color: darkblue;
    font-size: 20px;
}

p1{
    font-size: 20px;
    font-family: Verdana;
    color: gray;
}

input[type = text]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 4px;
}

input[type = password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 4px;
}


a:link {

   background-color: transparent;
   text-decoration: none;
}




footer{
   font-family: Verdana;
   color:aliceblue; 
   width:100%;
   background-color: darkblue;
   margin-left: -50px;
   margin-bottom: -50px;
   margin-top: 150px;
   padding: 20px 50px;
}

.Experiences {

  text-align: center;
  border-radius: 10px;
  display: Experiences;
  width: 75%;
  height: 40%;
  padding: 60px;
  border: 5px solid rgb(21, 21, 85);    
  border-radius: 50px;
  margin:center;
  
  
  
  
  }
  
  .item1 {
    grid-area: myArea;
  }
  
  .item2 {
      grid-area: secondArea;
  }
  
  .item3 {
      grid-area: thirdArea;
  }
  
  .grid-container {
    width:90%;
    height:0%;
    display: grid;
    grid-template-areas: 'myArea secondArea '
                            'myArea thirdArea';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
  }
  
  
  
  span.b {
    font-size: 15px;
    display: Experiences;
    width: 50%;
    height: 25px;
    padding: 0px; 
    text-align: right;
  
   
  }
  
  #profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  
