
 body{
    margin-left: 50px;
    margin-top: 50px;
    background-image:url(happy%20people%20jumping.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: 100% 170px;
 }

#all{
    position: relative;
    min-height: 100vh;
}

#main{
    padding-bottom:2.5rem;
}

 h1{
    font-family: Verdana;
    font-size: 40px;
 }

ul {
    overflow: hidden;
    list-style-type: none;
    margin-left: -50px;
    margin-top: -50px;
    padding: 0;
    width:100%;
    background-color: dodgerblue;
    position: fixed;
}

li{
    display: inline;
}

li a{
    color:aliceblue;
    display: block;
    padding: 20px 15px;
    font-family: Verdana;
    float:right;
}

.name {
    color:aliceblue;
    display: block;
    padding: 17px 50px;
    font-family: Verdana;
    font-size: 20px;
    float:left;
}

 p1{
    font-size: 20px;
    font-family: Verdana;
    color: gray;
 }

input[type = password], input[type = email], input[type = text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 4px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

 label[for = rememberMe]{
    font-family: Verdana;
    font-size: 13px;
    color:#2E2E2E;
 }

label[for = type]{
    font-size: 20px;
    font-family: Verdana;
    color: gray;
 }

button{
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-color: lightblue;
    border-radius: 4px;
    background-color: paleturquoise;
    align-items: center;
    cursor: pointer;
 }

input:hover[type="submit"] {
   cursor: pointer;
 }

a:link {
    background-color: transparent;
    text-decoration: none;
}


.type{
    width: 30%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 4px;
    font-family: Verdana;
    color: gray;
}

@media screen and (max-width:600px){
    .navbar a{
        float: none;
        width: 100%;
        padding: 0px;
        text-align: center;
    }
}

